@model Candidate


<div class="text-center">
    <h3>@Model.FirstName</h3>
    <h5>Başvurunuz Başarıyla Yapılmıştır.</h5>
    <hr>
    <div>
        <a class="btn btn-primary" href="/Course/Index">Başvuranlar Listesi</a>
    </div>

</div>