@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Kurs Başvuru</h1>
    <a asp-controller="Course" asp-action="Apply" class="btn btn-primary">Başvuru Yap</a>
    <a asp-controller="Course" asp-action="Index" class="btn btn-primary">Başvuranlar Listesi</a>

</div>
